body{

    background-color:black;
    display:flex;
    justify-content:center;
    height:80vh;
    align-items:center;
}

img{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    width:200px;
    transition: all 0.1s;
}


p{
    color:white;
    opacity:0;
    position:absolute;
    top:15vh !important;
    left:20vw;

}

h4{
    color: white;
    position:absolute;
    top:10vh !important;
    left:20vw;
}