#main{
    top: 250px !important;
    width: 100% !important;
    height: 500px !important;
    border: black solid 2px;
    position: relative !important;
}

#actor{
    width: 100%;
    position: absolute;
    z-index: 5;
}

#controls{
    margin-top: 30px;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
}

#controls > button{
    border: none;
    background: lightgoldenrodyellow;
    width: 50px;
    height: 50px;
}